[submodule "vendor/eigen"]
	path = vendor/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
